// @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap');

$family-primary: 'Roboto', 'Segoe UI', BlinkMacSystemFont, -apple-system,
  'Helvetica', 'Arial', sans-serif;

$primary: #f759ff;
$grey-dark: #111111;
$grey-darker: $grey-dark;
$white: #ece9e6;
$grey-light: #c9c9c9;

$body-background-color: $grey-dark;
$body-color: $grey-light;
$content-heading-color: $white;
$link: $white;
$link-hover: $primary;
$title-color: $white;

@import 'bulma/bulma.sass';
