$family-primary: 'Roboto', 'Segoe UI', BlinkMacSystemFont, -apple-system, 'Helvetica', 'Arial', sans-serif

$primary-light: #BA68C8
$primary: #9C27B0
$primary-dark: #7B1FA2

$triadic: #ee0290
$link: $triadic
$light: $primary-light
$dark: $primary-dark

// $fullhd:
// $gap: 32px
// $fullhd: 1344px + (2 * $gap)
// $fullhd: 400px

.container
  &.is-thin
    max-width: 768px !important
